<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Cart</h1>
        <div class="row">
            <div class="col">
                {{#each cartProducts}}
                <ul class="list-group list-group-horizontal mb-3">
                    <li class="list-group-item flex-fill">
                        <p>{{this.product.title}}</p>
                    </li>
                    <li class="list-group-item flex-fill">
                        <p>Quantity: {{this.quantity}}</p>
                    </li>
                    <li class="list-group-item flex-fill">
                        <p>Price: ${{this.product.price}}</p>
                    </li>
                    <li class="list-group-item flex-fill">
                        <button class="btn btn-danger" onclick="removeFromCart('{{../cartId}}', '{{this.product._id}}')">Remove</button>
                    </li>
                </ul>
                {{/each}}
            </div>
        </div>
    </div>

    <script>
        async function removeFromCart(cartId, productId) {
            const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                location.reload(); 
            } else {
                alert('Failed to remove product from cart');
            }
        }
    </script>
</body>

</html>
