<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <div class="container">
        <div id="productList" class="row">
                {{#each products}}
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="card mb-3" style="width: 18rem;">
                        <div class="card-img-wrapper">
                            <img src="{{this.thumbnails}}" class="card-img-top" alt="..." style="height: 300px;">
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text"><strong>Price:</strong> ${{this.price}}</p>
                                <p class="card-text"><small class="text-muted">ID: {{this.id}}</small></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
        </div>
    </div> 
</body>
</html>
