
<div class="container">
  <h1 class="mt-5">{{title}}</h1>
   <div id="productos-lista" class="row">
            {{#each products}}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-wrapper">
                        <img src="{{this.thumbnails}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">${{this.price}}</a>
                         <a href="#" class="">id: {{this.id}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</div>

   <script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io();
 socket.on('actualizarProductos', (productos) => {
            const productosLista = document.getElementById('productos-lista');
            productosLista.innerHTML = '';
            productos.forEach(producto => {
                const productCard = document.createElement('div');
                productCard.className = 'col-lg-4 col-md-6 mb-4';
                productCard.innerHTML = `
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-wrapper">
                            <img src="${producto.thumbnails}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">${producto.title}</h5>
                            <p class="card-text">${producto.description}</p>
                            <a href="#" class="btn btn-primary">$${producto.price}</a>
                        </div>
                    </div>
                `;
                productosLista.appendChild(productCard);
            });
        });
        
    </script>

