 <div class="container justify-content-center">
        <h1 class="mt-5">{{title}}</h1>
        <div id="productos-lista" class="row">
            {{#each products}}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-wrapper">
                        <img src="{{this.thumbnails}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">${{this.price}}</a>
                         <a href="#" class="">id: {{this.id}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row justify-content-center">
            <form id="nuevo-producto-form" class="mt-4" style="width: 600px;">
                <div class="form-group">
                    <input type="text" id="title" class="form-control mb-3" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <input type="text" id="description" class="form-control mb-3" placeholder="Description" required>
                </div>
                <div class="form-group">
                    <input type="text" id="code" class="form-control mb-3" placeholder="Code" required>
                </div>
                <div class="form-group">
                    <input type="number" id="price" class="form-control mb-3" placeholder="Price" required>
                </div>
                <div class="form-group form-check mb-3">
                    <input type="checkbox" id="status" class="form-check-input">
                    <label class="form-check-label" for="status">Status</label>
                </div>
                <div class="form-group">
                    <input type="number" id="stock" class="form-control mb-3" placeholder="Stock" required>
                </div>
                <div class="form-group">
                    <input type="text" id="category" class="form-control mb-3" placeholder="Category" required>
                </div>
                <div class="form-group">
                    <input type="text" id="thumbnail" class="form-control mb-3" placeholder="Thumbnail URL">
                </div>
                <button type="submit" class="btn btn-primary mb-3">Agregar Producto</button>
            </form>
        </div>

        <div class="row justify-content-center">
            <form id="eliminar-producto-form" class="mt-4" style="width: 600px;">
                <div class="form-group">
                    <input type="text" id="product-id" class="form-control mb-3" placeholder="ID del producto a eliminar" required>
                </div>
                <button type="submit" class="btn btn-danger mb-3">Eliminar Producto</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const formAgregar = document.getElementById('nuevo-producto-form');
        formAgregar.addEventListener('submit', (event) => {
            event.preventDefault();

            const nuevoProducto = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                code: document.getElementById('code').value,
                price: document.getElementById('price').value,
                status: document.getElementById('status').checked,
                stock: document.getElementById('stock').value,
                category: document.getElementById('category').value,
                thumbnail: document.getElementById('thumbnail').value
            };

            socket.emit('nuevoProducto', nuevoProducto);
        });

        const formEliminar = document.getElementById('eliminar-producto-form');
        formEliminar.addEventListener('submit', (event) => {
            event.preventDefault();

            const productoId = document.getElementById('product-id').value;
            socket.emit('eliminarProducto', productoId);
        });

        socket.on('actualizarProductos', (productos) => {
            const productosLista = document.getElementById('productos-lista');
            productosLista.innerHTML = '';
            productos.forEach(producto => {
                const productCard = document.createElement('div');
                productCard.className = 'col-lg-4 col-md-6 mb-4';
                productCard.innerHTML = `
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-wrapper">
                            <img src="${producto.thumbnails}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">${producto.title}</h5>
                            <p class="card-text">${producto.description}</p>
                            <a href="#" class="btn btn-primary">$${producto.price}</a>
                        </div>
                    </div>
                `;
                productosLista.appendChild(productCard);
            });
        });
    </script>